configuration:
  version: 1.0
  name: smpp_gateway
  delay_per_second: 8.0
  time_to_retry: 10
  database:
    user: test
    passwod: 12345
  dlr_port: 9292
  dlr_mask: 31
  smtp_settings:
    address: smtp.gmail.com
    port: 587
    user_name: miguelgodoyg@gmail.com
    password: 'Mm16u3l4t1@@17##'
    authentication: plain
    enable_starttls_auto: true
  kannel:
    daemon_bearerbox: /usr/local/kannel/sbin/bearerbox
    daemon_smsbox: /usr/local/kannel/sbin/smsbox
    conf_file: /etc/kannel/kannel.conf
  api_server_enabled: false
  api_server_port: 8000
  channels:
    -
      name: "Opina"
      pool_size: 2
      activemq_topic_sender: com.smpp_gateway.opina.sender
      activemq_topic_receiver: com.smpp_gateway.opina.receiver
      activemq_topic_response: com.smpp_gateway.opina.response
      receiver_expression: '^(.*)'
      short_number: 0972283718
      kannel_user: OPINA
      kannel_pass: abc12345
      kannel_url: http://localhost:13013/cgi-bin/sendsms
      api_server:
        enabled: false
        users:
          -
            name: "opina_user"
            pass: "abc12345@@"
      default: 1
    -
      name: "Turnos"
      pool_size: 3
      activemq_topic_sender: com.smpp_gateway.turnos.sender
      activemq_topic_receiver: com.smpp_gateway.turnos.receiver
      activemq_topic_response: com.smpp_gateway.turnos.response
      receiver_expression: '^(turno|turnos)'
      short_number: 0972444000
      kannel_user: TURNOS
      kannel_pass: abc12345
      kannel_url: http://localhost:13013/cgi-bin/sendsms
      api_server:
        enabled: false
        users:
          -
            name: "turnos_user"
            pass: "abc12345@@"
      default: 1
    -
      name: "Bulk"
      pool_size: 3
      activemq_topic_sender: com.smpp_gateway.bulk.sender
      activemq_topic_receiver: com.smpp_gateway.bulk.receiver
      activemq_topic_response: com.smpp_gateway.bulk.response
      receiver_expression: '^(bulk|bul)'
      short_number: 0972444000
      kannel_user: BULK
      kannel_pass: abc12345
      kannel_url: http://localhost:13013/cgi-bin/sendsms
      api_server:
        enabled: true
        users:
          -
            name: "bulk_user"
            pass: "abc12345@@"
      default: 0
      #remote_kannel_response:
      #  url: http://bulk.lacorunasrl.com/response.php
      #  param_status: status
      #  param_id: id
      #  ok_response: '200'
